div.logo
{      
        left: 12%;
         position: relative;
}

 div.logo img:hover
 {
     border:2px solid gray;
 }
div.logo img
{
   
       height: auto;
        width: 950px;
       height: 200px;
       position: absolute;
       border:1px solid gray;
}
.profile {
		     
 width: 220px;
 height: 100px;
 }

div.profile img{
     left: 85%;
      top: 95%;
  position: relative  ;
 
    border: 2px solid gray;
}
*, *:before, *:after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
       overflow-x: hidden;
}

body {
  font:  sans-serif;
  
  color: #4B4747;
  background: lightgray;
background-image: url("bg.jpg");
background-size: 100%;
background-attachment: fixed;


}

h1 {
  padding: 130px 0px 10px 10px;
  font-weight: bold;
  text-align: center;
  color: lightgray;
    
}

h3{
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    color:lightgray;
    
}
p {
  margin: 10px 10px 10px 10px;
  line-height: 1.5;
  background-color: white;
  text-align: left;

  font-family:  sans-serif;
 
}

main {
  min-width: 70%;
  max-width: 100%;
  min-height: 80%;
  padding:18px;
  margin: 0 auto;
 margin-left: 15px;
 

  
 
}

section {
  display: none;
background-color: white;
  border-top: 1px solid #dd463e;
  min-height: 400px;
  max-width: 94.5%;
 margin-left: 24px;
  font-size: 18px;
  font-family: sans-serif;
}


input {
     display: none;
     background-color: white;
}

label {
   
width: 264px;
  display: inline-block;
  margin: 20px 2px 0px 24px;
  padding: 15px 38px;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center;
  color:   lightgray;
  border: 2px solid transparent;
  background-color: #f7635b;

}

label:before {
  font-family: Helvetica,sans-serif;
  font-weight: normal;
  margin-right: 10px;

}   



label:hover {

  color:  #404040;
  cursor: pointer;
}

input:checked + label {
  color: white;
  border: 2px solid #dd463e;
  border-top: 2px solid #dd463e;
  border-bottom: 2px solid #d83434;
  background-color: #dd463e
  
}

#abouttab:checked ~ #about,
#academictab:checked ~ #academic,
#professionaltab:checked ~ #professional,
#internettab:checked ~ #internet {
  display: block;
}
